<div class="row" action="/" method="get">

  <div class="col-md-6">
    <div class="restoration">

      <div class="re-story">
        <div class="sec-head">
          <h2>Restoration Projects</h2>
        </div>
        <p>
          Our skilled team of craftsmen carry out world-class classic car
          restorations, using the facilities within our fully equipped 12,000 sq ft
          workshops and co-ordinating the inputs from our established network of
          external suppliers. Our mechanics collectively have more than 165 years’
          experience working on the finest and most challenging cars. Our work has won major
           Concours prizes, accolades and awards across several continents.
           Mechanical work carried out on-site includes:

           <ul>
             <li>Rebuilding</li>
             <li>Servicing</li>
             <li>Engine overhauls and ugrades</li>
             <li>Concours preparation</li>
             <li>Engine Tuning</li>
             <li>Model specific sympathetic upgrades</li>
             <li>Setting-up for optimal driving characteristics</li>
           </ul>
        </p>

      </div>

      <div class="row">
        <div class="col-xs-6">
          <img src="images/re-story1.jpg" alt="">
          <label class="rb">Before</label>
          <label class="ra">After</label>
        </div>
        <div class="col-xs-6">
          <img src="images/re-story2.jpg" alt="">
          <label class="rb">Before</label>
          <label class="ra">After</label>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-6">
    <div class="general-services">
      <div class="subhead">
        <h2>General Services</h2>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div id="bodywork">
          </div>
          <h4 class="subs"><a href="#"><b>Body Work</b></a></h4>
        </div>
        <div class="col-xs-4">
          <div id="servicing">
          </div>
          <h4 class="subs"><a href="#"><b>Servicing</b></a></h4>
        </div>
        <div class="col-xs-4">
          <div id="paintwork">
          </div>
          <h4 class="subs"><a href="#"><b>Paintwork</b></a></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div id="interior">
          </div>
          <h4 class="subs"><a href="#"><b>Interior</b></a></h4>
        </div>
        <div class="col-xs-4">
          <div id="mechanic">
          </div>
          <h4 class="subs"><a href="#"><b>Mechanic</b></a></h4>
        </div>
        <div class="col-xs-4">
          <div id="woodwork">
          </div>
          <h4 class="subs"><a href="#"><b>Woodwork</b></a></h4>
        </div>
      </div>
      <div class="garage">
        <h3><a href="#"><b>Book in Your Car</b></a></h3>

      </div>
    </div>
  </div>

  <div class="footnotes">

  </div>

</div>
